<form autocomplete="off">
  <div><label>name: <input type="text" name="name" [(ngModel)]="item.name"></label></div>
  <div><label>age: <input type="text" name="age" [(ngModel)]="item.age"></label></div>
  <div>
    <button type="button" (click)="add(item)" [disabled]="!item.name || !item.age">ADD</button>&nbsp;
    <button type="button" (click)="update(item)" [disabled]="!item.id">EDIT</button>
  </div>
</form>

<ul>
  <li *ngFor="let item of (items | async)" (click)="select(item)">
    name: {{ item.name }} / age: {{ item.age }}
  </li>
</ul>